{% extends 'base.html' %}
{% block content %}
     <form method="POST" action="{% url 'alterar-status' %}" class='ui form'>

         {% if msg %}
            <p>{{ msg }}</p>
         {% endif %}

         <h4>Ativar usuário inativo</h4>

         {% csrf_token %}

         {% if form.username.errors %}
            {{ form.username.errors }}
         {% endif %}
         <label>{{ form.username.label }}</label>
         {{ form.username }} </br>

         {% if form.password.errors %}
             {{ form.password.errors }}
         {% endif %}
         <label>{{ form.password.label }}</label>
         {{ form.password }} </br>

         <button type="submit" class="ui verde button">Ativar</button><br>
         <a href="{% url 'login' %}">Voltar ao Login</a>
    </form>
{% endblock content %}
