{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if user.is_superuser %}
        <div class="thirteen wide column">
            <h3>{% trans 'Alunos Cadastrados' %}</h3>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <ul class="ui divided relaxed list">
                {% for aluno in object_list %}
                    <div class="item">
                        <i class="large user middle aligned icon"></i>
                        <div class="content">
                            <p><a href="{% url 'aluno-detail' aluno.id %}">{{ aluno.nome }}</a></p>
                            <div class="description">{{ aluno.matricula }}</div>
                        </div>
                    </div>
                {%endfor %}
            </ul>
        </div>
    {% else %}
        <h4>{% trans 'Você não tem permissão para acessar esta página!' %}</h4>
        <a href="{% url 'home' %}">{% trans 'Ínicio' %}</a><br/>
    {% endif %}
{% endblock content %}