{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated and user.is_staff%}
        <h3>Perfil do Aluno</h3>
        <div class="thirteen wide column">
            <a class="ui right floated button" href="{% url 'editar-aluno' aluno.id %}">Editar</a></br>
            <ul class="ui divided relaxed list">
                <li class="item"><p><span class="ui small header"> Nome:</span>{{ aluno.nome }}</p></li>
                <li class="item"><p><span class="ui small header"> E-mail:</span>{{ aluno.email }}</p></li>
                <li class="item"><p><span class="ui small header"> Telefone:</span>{{ aluno.telefone }}</p></li>
                <li class="item"><p><span class="ui small header"> Turma:</span>{{ aluno.turma }}</p></li>
                <li class="item"><p><span class="ui small header"> Curso:</span>{{ aluno.curso }}</p></li>
                <li class="item"><p><span class="ui small header"> Matrícula:</span>{{ aluno.matricula }}</p></li>
            </ul>
            <form method="POST" action="{% url 'excluir-aluno' aluno.id %}" class='ui form'>
                <button type="submit" class="ui right floated button">Excluir</button>
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <h4>Você não tem permissão para acessar esta página!</h4>
        <a href="{% url 'index' %}">Voltar</a><br/>
    {% endif %}
{% endblock content %}