<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OWL</title>
    <link rel="icon" href="{% static "imgs/owl.png" %}">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
        <script src="{% static 'semantic/semantic.min.js' %}"></script>
        <script src="{% static 'js/call.js' %}"></script>
    </head>
</head>
<body>
<header>
    <ul class= "ui massive stackable borderless menu">
		{% if user.is_superuser %}
			<li><a class="item" href="{% url 'index' %}"><h3>OWL</h3></a></li>
			<li><a class="item" href="{% url 'aluno-create' %}">{% trans 'Novo Aluno' %}</a></li>
            <li><a class="item" href="{% url 'aluno-list' %}">{% trans 'Alunos Cadastrados' %}</a></li>
            <div class="right menu">
			    <li><a class="item" href="{% url 'logout' %}">{% trans 'Sair' %}</a></li>
            </div>
        {% elif user.is_authenticated %}
			<li><a class="item" href="{% url 'index' %}"><h3>OWL</h3></a></li>
            <li><a class="item" href="{% url 'professor-update' %}">{% trans 'Editar Perfil' %}</a></li>
            <li><a class="item" href="{% url 'ocorrencia-create' %}">{% trans 'Nova Ocorrência' %}</a></li>
            <div class="right menu">
                <li><a class="item" href="{% url 'logout' %}">{% trans 'Sair' %}</a></li>
            </div>
        {% else %}
            <li><a class="item" href="{% url 'index' %}"><h3>OWL</h3></a></li>
            <div class="right menu">
                <li><a class="item" href="{% url 'professor-create' %}"> {% trans 'Registre-se ' %}</a></li>
            </div>
        {% endif %}
    </ul>
</header>
<article class="ui container">
    {% block content %}
    {% endblock %}
</article>
<footer class="ui black inverted vertical footer relaxed segment rodape">
    <div class="ui five column middle aligned centered inverted divided stackable grid">
        <div class="two wide column">
            <h2 class="ui inverted icon header">
                <i class="icon"></i>
                <div class="content">
                    <img src="{% static 'imgs/owl.png' %}">
                </div>
            </h2>
        </div>
        <div class="three wide column">
            <ul class="ui divided celled relaxed inverted list">
                <li class="item"><a href="https://github.com/lopeslarissa/" target="_blank"><i
                        class="ui bitbucket large icon"></i>lopeslarissa</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>