{% extends 'base.html' %}
{% block content %}
        {% if id == None %}
            <form method="POST" action="{% url 'cadastrar-professor' %}" class='ui form'>
        {% else %}
            <form method="POST" action="{% url 'cadastrar-professor' id %}" class='ui form'>
        {% endif %}
        {% csrf_token %}

        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}

        {% if form.username %}
            <label>{{ form.username.label }}</label>
            {{ form.username }} </br>
            {% if form.username.errors %}
                {{ form.username.errors }}
            {% endif %}
        {% endif %}

        <label>{{ form.password.label }}</label>
        {{ form.password }} </br>
        {% if form.password.errors %}
            {{ form.password.errors }}
        {% endif %}

        <label>{{ form.first_name.label }}</label>
        {{ form.first_name }} </br>
        {% if form.first_name.errors %}
            {{ form.first_name.errors }}
        {% endif %}

        <label>{{ form.last_name.label }}</label>
        {{ form.last_name }} </br>
        {% if form.last_name.errors %}
            {{ form.last_name.errors }}
        {% endif %}

        <label>{{ form.email.label }}</label>
        {{ form.email }} </br>
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}


        <button type="submit" class="ui verde button">Salvar</button>
    </form>
    {% if user.is_authenticated %}
        <a href="{% url 'home' %}">Voltar</a>
    {% else %}
        <a href="{% url 'login' %}">Voltar</a>
    {% endif %}

{% endblock content %}