{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Edição de Professor</h3>
        <form method="POST" action="{% url 'desativar-professor' %}" class='ui form'>
            <button type="submit" class=" right floated ui button">Desativar Conta</button></br>
            {% csrf_token %}
        </form>
    {% else %}
        <h3>Cadastro de Professor</h3>
    {% endif %}
    <form method="POST" action="{% url 'cadastrar-professor' %}" class='ui form'>
        {% csrf_token %}
        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="field">
                <label>{{ field.label }}:</label>
                {{ field }}
                {% if field.help_text %}
                    <span class="ui pointing label"></span>
                {% endif %}
                </br>
                {% if field.errors %}
                    <span class="ui pointing red label">
                {{ field.errors }}
            </span>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class=" right floated ui button">Salvar</button>
    </form>
{% endblock content %}