{% extends 'base.html' %}
{% block content %}
    {% if user.is_staff %}
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <div>
            <a href="{% url 'cadastrar-aluno'%}">Cadastrar Aluno</a><br/>
            {% for aluno in alunos %}
                <a href="{% url 'aluno' aluno.id %}">{{ aluno.nome }}</a><br/>
            {%endfor %}
            <a href="{% url 'logout' %}">Sair</a><br/>
        </div>
    {% elif user.is_authenticated %}
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <div>
            <a href="{% url 'editar-professor' %}">Editar Perfil</a><br/>
            <a href="{% url 'cadastrar-ocorrencia' %}">Cadastrar Ocorrencia</a><br/>
            {% for ocorrencia in ocorrencias %}
                <a href="{% url 'ocorrencia' ocorrencia.id %}">{{ ocorrencia.aluno }}</a><br/>
            {%endfor %}
            <form method="POST" action="{% url 'alterar-status' %}" class='ui form'>
                <button type="submit" class="ui red button">Desativar Conta</button>
                {% csrf_token %}
            </form>
            <a href="{% url 'logout' %}">Sair</a><br/>
        </div>
    {% else %}
        <h4>Você não esta logado no sistema</h4>
        <a href="{% url 'login' %}">Login</a><br/>
    {% endif %}
{% endblock content %}