{% extends 'base.html' %}
{% block content %}
    <h3>Entrar</h3>
    <form method="POST" action="{% url 'login' %}" class='ui form'>
        {% csrf_token %}
        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="field">
                <label>{{ field.label }}:</label>
                {{ field }}
                {% if field.help_text %}
                    <span class="ui pointing label">Ajuda: {{ field.help_text }}</span>
                {% endif %}
                </br>
                {% if field.errors %}
                    <span class="ui pointing red label">
                {{ field.errors }}
            </span>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="ui green button">Entrar</button></br>
    </form>
{% endblock content %}