{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <div>
            <div class="thirteen wide column">
                <h2 >Sistema de Ocorrência</h2>
                <spam>Ocorrências Registradas</spam>
                <ul class="ui divided relaxed list">
                    {% for ocorrencia in object_list %}
                        <div class="item">
                            <i class="large sticky note outline middle aligned icon"></i>
                            <div class="content">
                                <p><a href="{% url 'ocorrencia-detail' ocorrencia.id %}">{{ ocorrencia.aluno.nome }}</a></p>
                                <div class="description">{{ ocorrencia.descricao }}</div>
                            </div>
                        </div>
                    {%endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <h4>Você não tem permissão para acessar esta página!</h4>
        <a href="{% url 'login' %}">Login</a><br/>
    {% endif %}
{% endblock content %}