{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if user.is_authenticated %}
        {% if ocorrencia == None %}
            <h3>{% trans 'Cadastro de Ocorrência' %}</h3>
        {% else %}
            <h3>{% trans 'Edição de Ocorrência' %}</h3>
        {% endif %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="" class='ui form'>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="field">
                    <label>{{ field.label }}:</label>
                    {{ field }}
                    {% if field.help_text %}
                        <span class="ui pointing label">{% trans 'Ajuda' %}: {{ field.help_text }}</span>
                    {% endif %}
                    </br>
                    {% if field.errors %}
                        <span class="ui pointing red label">
                    {{ field.errors }}
                </span>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="right floated ui button">{% trans 'Salvar' %}</button>
        </form>
    {% else %}
        <h4>{% trans 'Você não tem permissão para acessar esta página!' %}</h4>
        <a href="{% url 'home' %}">{% trans 'Ínicio' %}</a><br/>
    {% endif %}
{% endblock content %}
