{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h5> Professor:{{ ocorrencia.professor.first_name }} </h5>
        <h5> Aluno:{{ ocorrencia.aluno.nome }} </h5>
        <h5> Turma: {{ ocorrencia.aluno.turma }}</h5>
        <h5> Matricula: {{ ocorrencia.aluno.matricula }}</h5>
        <h5> Disciplina: {{ ocorrencia.disciplina }}</h5>
        <h5> Descrição: {{ ocorrencia.descricao }}</h5>
        <h5> Data: {{ ocorrencia.data }}</h5>
        <h5> Hora: {{ ocorrencia.hora }}</h5>
        
        <a href="{% url 'editar-ocorrencia' ocorrencia.id %}">Editar</a><br/>
        <form method="POST" action="{% url 'excluir-ocorrencia' ocorrencia.id %}" class='ui form'>
            <button type="submit" class="ui red button">Excluir</button>
            {% csrf_token %}
        </form>
        
        <a href="{% url 'index' %}">Voltar</a>
    {% else %}
        <h4>Você não esta logado no sistema</h4>
        <a href="{% url 'login' %}">Login</a><br/>
    {% endif %}
{% endblock content %}