{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="thirteen wide column">
            <a href="{% url 'editar-ocorrencia' ocorrencia.id %}"><button class="ui right floated button">Editar</button></a>
            <ul class="ui divided relaxed list">
                <li class="item"><p><span class="ui small header"> Professor:</span>{{ ocorrencia.professor.first_name }}</p></li>
                <li class="item"><p><span class="ui small header"> Aluno:</span>{{ ocorrencia.aluno.nome }}</p></li>
                <li class="item"><p><span class="ui small header"> Turma:</span>{{ ocorrencia.aluno.turma }}</p></li>
                <li class="item"><p><span class="ui small header"> Matrícula:</span>{{ ocorrencia.aluno.matricula }}</p></li>
                <li class="item"><p><span class="ui small header"> Disciplina:</span>{{ ocorrencia.disciplina }}</p></li>
                <li class="item"><p><span class="ui small header"> Descrição:</span>{{ ocorrencia.descricao }}</p></li>
                <li class="item"><p><span class="ui small header"> Hora:</span>{{ ocorrencia.hora }}</p></li>
                <li class="item"><p><span class="ui small header"> Data:</span>{{ ocorrencia.data }}</p></li>
            </ul>
            <form method="POST" action="{% url 'excluir-ocorrencia' ocorrencia.id %}" class='ui form'>
                <button type="submit" class="ui right floated button">Excluir</button>
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <h4>Você não tem permissão para acessar esta página!</h4>
        <a href="{% url 'home' %}">Voltar</a><br/>
    {% endif %}
{% endblock content %}